@import "./variables.scss";

.aboutMe-container {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  max-width: $maxwidth;

  .aboutMe-container__bio {
    margin-left: 10px;
  }
}

.profilePicture {
  height: $imageSize;
  widht: $imageSize;
  border-radius: 50%;
}