@import "./toggle.scss";
@import "./aboutMe.scss";
@import "./variables.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  background-color: turquoise;
  max-width: $maxwidth;
  padding: 2%;
}

.headerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: $maxwidth;
  padding: 2%;
}