$headerMainColor: #3DADAB;

h1, a {
  color: $headerMainColor;
}

.blog-layout-header {
  font-size: 32px;
  box-shadow: none;
  color: inherit;
}

.blog-post-header-link {
  box-shadow: none;
  color: inherit;
}